.container {
    display: flex; /* Ativa o modelo flexível */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    width: 100%; /* Define a largura do container como 100% do elemento pai */
    height: 100vh; /* Define a altura do container como 100% da altura da viewport */
}

.BackPicture{
    background-image: url(../image/gif-back-produtos.gif);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

.container_left {
    display: block; /* Ativa o modelo flexível */
    justify-content: flex-start; /* Centraliza horizontalmente o conteúdo */
    align-items: flex-start; /* Centraliza verticalmente o conteúdo */
    width: 50%; /* Define a largura do container como 100% do elemento pai */
    height: 100vh; /* Define a altura do container como 100% da altura da viewport */
    background-color: rgba(10, 101, 111, 0.5);
}

.container_right {
    display: block; /* Ativa o modelo flexível */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: top; /* Centraliza verticalmente o conteúdo */
    width: 50%; /* Define a largura do container como 100% do elemento pai */
    height: 100vh; /* Define a altura do container como 100% da altura da viewport */
    background-color: rgba(10, 101, 111, 0.5);
}

.textedit{
    color: white;
    font-size:40px;
}

.textvalue{
    color: white;
    font-size:30px;
}